/composer.phar

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
/build/
/bin/


# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#entities
src/calavera/customerBundle/Entity/*
src/calavera/customerBundle/Entity/*.php~

# Linux
# .*
.gitignore
.htaccess
# *~
.project
