{% extends  'calaveracustomerBundle::base.html.twig'%}
{% block title %} Portafilio {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/calaveracustomer/css/portafolio/portafolio.css') }}" type="text/css" />
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div id="man-pic" class="man-pic"></div>
<div class="portafolio-content">
    <article>
        <h3>Portafolio</h3>
        <p>
            Portafolio de calavera studio.
        </p>
    </article>
    
</div>
{% endblock %}