{% extends  'calaveracustomerBundle::base.html.twig'%}
{% block title %} Nosotros {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/calaveracustomer/css/nosotros/nosotros.css') }}" type="text/css" />
{% endblock %}
{% block body %}
<div id="nosotros-header">
</div>
<article id="nosotros-content">
    <header>
        <h1>¿Quiénes somos?</h1>
    </header>
    <p>
        Calavera Studio es un estudio formado por jovenes profecionales enfocados en el desarrollo y la generacion de ideas 
        visuales y creativas personalizadas, sin dejar de lado el porte profecional.
    </p>
</article>

{% endblock %}
