{% extends 'calaveracustomerBundle::base.html.twig'%}
{% block body %}
<form id="register" action="/newsletter/sign">
    <div id="ff-suscription-sex">
        <span class="op">
            <input id="suscription-sex-h" name="gender" type="radio" value="male">
            <label for="suscription-sex-h">Hombre</label>
        </span>
        <span class="op">
            <input id="suscription-sex-m" name="gender" type="radio" value="female">
            <label for="suscription-sex-m">Mujer</label>
        </span>
    </div>
    <div id="ff-suscription-email">
        <input id="suscription-email" name="email" placeholder="Escribe tu correo" type="email">
    </div>
    <div id="ff-suscription-submit">
        <button id="suscription-submit" type="submit">¡Suscríbete!</button>
        <input id="suscription_token" name="YII_CSRF_TOKEN" type="hidden" value="badae69a2183835847c4c6a00ebbe964bd792611">
    </div>
</form>

Hola newsletter
{% endblock %}