{% extends 'calaveracustomerBundle::base.html.twig'%}
{% block title %}Newsletter{% endblock %}
{% block body %}
<form id="register" action="{{ path('_newsletterSing') }}" method="POST">
    <div id="messaje-register">
        Registrate en nuestro newsletter
    </div>
    <div id="suscription-sex">
        <span class="op">
            <input id="suscription-sex-h" name="gender" type="radio" value="male">
            <label for="suscription-sex-h">Hombre</label>
        </span>
        <span class="op">
            <input id="suscription-sex-m" name="gender" type="radio" value="female">
            <label for="suscription-sex-m">Mujer</label>
        </span>
    </div>
    <div id="suscription-email">
        <input id="suscription-email" name="email" placeholder="Escribe tu correo" type="email">
    </div>
    <div id="suscription-submit">
        <button id="suscription-submit" type="submit">¡Suscríbete!</button>
    </div>
</form>

{% endblock %}