{% extends 'calaveracustomerBundle::base.html.twig' %}
{% block title%}Home{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/calaveracustomer/css/home.css') }}" type="text/css" />
{% endblock %}
{% block header %}
     <img src="{{ asset('bundles/calaveracustomer/images/header/header1.jpg') }}">
{% endblock %}
{% block body %}
     <div id="home-calavera-">
         <article>
         <h1>Calavera Studio</h1>
         <p>
             Somos un estudio de diseño gráfico ubicados al sur de la ciudad de México especializados en la fotografía y 
             la ilustración, así mismo ofrecemos servicios de diseño y creación/administración de portales web a la medida.
         </p>
         <p>
             Nuestro equipo de trabajo desarrollara la solución mas efectiva para su empresa con la finalidad de impactar su 
             marca/servicio en el mercado, dotanto de una imagen fresca y profecional que genere confianza.
         </p>
         </article>
     </div>

{% endblock %}

